// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



body {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.375rem;
	background: #f2f2f2;
}

h1{
	// font-family: 'Raleway', sans-serif;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 900;
	font-size: 3.375rem;
	line-height: 3rem;
}

h2{
	// font-family: 'Raleway', sans-serif;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 900;
	font-size: 2.675rem;
}

.header {
	text-align: center;
}

a.button {
	background: lightgreen;
	color: #FFF;
	padding: 0.5em 1em;
	border-radius: 20px;
	text-decoration: none;
	&:hover {
	background: lightblue;}
}

.main_container {
	max-width: 90%;
	margin: 0 auto;
}


.post {
	margin-bottom: 0rem;
	background: #fafafa;
	padding: 1rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s;
  &:hover {
  	background: #ffffff;
  }
}

.post_content {
	p { 
		margin: 0; 
	}
	h2 {margin: 0.60rem 0;}
	.post_title {
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 600;
		color: red;
	}
	.tags {
		color: #666;
		font-size: 0.9rem;
	}
}


// .post_edit {
// 	float: right;
// 	background: green;
// }






